<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/kendo/2016.1.226/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.226/kendo.flat.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.226/kendo.rtl.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-arabic.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Menu/menu-ar.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/kendo/2016.1.226/kendo.all.min.js"></script>
    <script src="~/Scripts/bootstrap-arabic.js"></script>



</head>
<body>
<div class="ab-header">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-md-1 col-sm-1" style="float: left; margin-left: 20px;">
                    @*<img src="/Images/logo.png" width="80" height="70" />*@
                </div>
                <div class="col-md-1 col-md-1 col-sm-1" style="float: Right; margin-top: 10px;">
                    <img src="/Images/person-icon-blue.png" width="50" height="40" />

                </div>
                <div style="float: Right; margin-right: 2px;padding-top: 15px">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            User Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </div>
    

<div class="ab-container">
    <div class="right-menu" >
        <div class="logo">
            <i class="fa fa-align-justify"></i>
            <div>Pure CSS Accordion Nav</div>
        </div>
        <div class="accordion-bwire">
            <div class="section">
                <input type="radio" name="accordion-1" id="section-1" checked="checked" />
                <label for="section-1"><span>Messages</span></label>
                <div class="content">
                    <ul>
                        <li><span>Inbox</span><i class="fa fa-inbox"></i></li>
                        <li><span>Sent    </span><i class="fa fa-share"></i></li>
                        <li><span>Archive</span><i class="fa fa-archive"></i></li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-2" value="toggle" />
                <label for="section-2"> <span>Usage</span></label>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-cog"></i><span>System</span></li>
                        <li><i class="fa fa-group"></i><span>Users    </span></li>
                        <li><i class="fa fa-sitemap"></i><span>Visitation</span></li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-3" value="toggle" />
                <label for="section-3"> <span>Scroller</span></label>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee    </span></li>
                        <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-4" value="toggle" />
                <label for="section-4"> <span>Section 4</span></label>
                <div class="content"></div>
            </div>
        </div>
    </div>
    <div class="ab-content">
        
        @RenderBody()

    </div>

</div>
    <div style="clear: both"></div>
    <div class="ab-footer-ar">
        <br />
        <p>      &copy; @DateTime.Now.Year - Damascus</p>
    </div>
    

   
@RenderSection("scripts", required: false)

    
</body>
</html>
